body {
    background: #6b96c7;
}
button {
    display: block;
    padding: 10px;
    margin: 15px 10px;
    width: 130px;
}   
button:after {
    color: silver;
    position: absolute;
    display:none;
    top: 15px;
    left: 180px;
    width: 300px;
    padding: 5px;
    background: #395e88;
}
button:hover:after {
    display: block;
}
button[onclick="task1()"]:after {
    content: "Якщо змінна a дорівнює нулю, то виведіть 'Вірно', інакше виведіть 'Невірно'. Перевірте роботу скрипта при a, що дорівнює 1, 0, -3";
}
button[onclick="task2()"]:after{
    content: "В змінної min лежить число від 0 до 59. Визначте в яку чверть години потрапляє це число (в першу, другу, третю або четверту)."
}
button[onclick="task3()"]:after{
    content: "Якщо змінна a дорівнює або менше 1, а змінна b більше або дорівнює 3, то виведіть суму цих змінних, інакше виведіть їх різницю (результат віднімання). Перевірте роботу скрипта при a і b, що дорівнює 1 і 3, 0 і 6, 3 і 5.";
}
button[onclick="task4()"]:after{
    content: "В змінної month лежить якесь число з інтервалу від 1 до 12. Визначте в яку пору року потрапляє цей місяць (зима, літо, весна, осінь).";
}
button[onclick="task6()"]:after{
    content: "Три різних числа вводяться через prompt(). За допомоги if else вивести іх в порядку зростання.";
}
button[onclick="task5()"]:after{
    content: "За допомоги %, спробувати реверснути трьохзначне число. Приклад 412 => 214";
}
button[onclick="task7()"]:after{
    content: "Решите задачу через switch-case. Переменная num может принимать 4 значения: 1, 2, 3 или 4. Если она имеет значение '1', то в переменную result запишем 'зима', если имеет значение '2' – 'весна' и так далее. ";
}
button[onclick="task8()"]:after{
    content: "Все параматры получаем с клавиатуры!!!! Имитируем поведение пешехода на перекстке.Если светофор зеленый - вывести иди. Если светофор желтый - вывести подожди.Если светофор красный - вывести стой. Если светофор в аварийном режиме вывести делай что хочешь!";
}
button[onclick="task9()"]:after{
    content: "Все параметры получаем с клавиатуры!!!! Создать переменную isRoadClear которая характеризирует наличие на дороге машин. Улучшаем предыдущее задание.Если светофор зеленый и машин нет - вывести иди. Если светофор зеленый и машины есть  - вывести подожди пока нарушители проедут. Если светофор желтый и машины есть - вывести жди.Если светофор желтый и машин нет - вывести все рано жди.Если светофор красный и машин нет- вывести стой все рано.Если светофор красный - и машины есть вывести стой и жди. Если светофор в аварийном режиме вывести делай что хочешь!";
}