doctype html
html
  head
    title Home
  head
  body
    h1 PUGGGG
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia   commodi odit, doloribus nisi sint et velit assumenda neque reprehenderit  quia quis voluptates, delectus nemo quasi odio qui. Ad, ex minus.
    h2 !{title}
    h2= 'text'+ ' : ' + text
    ul
      each product in products
        if product.price > 100
          li= product.name + " : " + product.price
        else 
          li ==================