doctype html
html
  head
    title Static Folder Video
    link(rel="stylesheet" href="/css/main.css")
    style.
      body {
          color: red;
        }
  body
    h1 Hello
    h3 Lorem ipsum dolor ituris arenot
    h4 Picture
    img(src="images/image.jpg")
    script(src="js/main.js")
    h4 REGISTRATION:
    form(action='/register' method='post')
      input(type='text' name='name')
      input(type='text' name='password')
      input(type='submit')

    h4 LOGIN:
    form(action='/login' method='post')
      input(type='text' name='name')
      input(type='text' name='password')
      input(type='submit')